<ul>
    {% for infoVign in vignerons %}
        <div class="show-vigneron-body">
            <section id="vigneronInfos">
                <aside>
                    <div class="liens">
                        <a href={{ path('app_vigneron_show', {id: infoVign.id})}}>
                            <span class="handWriting-text"><strong>{{ infoVign.nom }}</strong></span>
                            <span class="handWriting-text"><strong>{{ infoVign.prenom }}</strong></span>
                        </a>
                    </div>
                </aside>
            </section>
        </div>
    {% endfor %}
</ul>
