{% extends 'base.html.twig' %}

{% block title %}Liste des Vignerons{% endblock %}

{% block body %}
    <h1>Liste des Vignerons</h1>
    {{ include('vigneron/_vigneron.html.twig') }}
{% endblock %}

