{% extends 'base.html.twig' %}

{% block title %}Liste des Animations{% endblock %}

{% block body %}
    <div class="animation-d">
        <h1>Liste des Animations</h1>
        {{ include('animation/_animation.html.twig') }}
    </div>
{% endblock %}
