
@font-face {
    font-family:'avenir';
    src: url("/public/police/cooper-hewitt-font-family.zip");
}


.gauche {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.droite{
    background: url("/image/ardoise.png") no-repeat;
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;

}
