body {
    display:flex;
}
@font-face {
    font-family:'avenir';
    src: url("/public/police/cooper-hewitt-font-family.zip");
}
.login {
    display:flex;
    justify-content: center;
    font-family: avenir, sans-serif;
    white-space: pre-line;
    flex-direction: column;
}

.principal{
    display:flex;
    justify-content: center;
    background-color: white;
    flex:1;
    border-color: #B0413E;
}
.ardoise{
    display:flex;
    flex-direction: column;
    background: url("./image/ardoise.png") no-repeat;
    background-size:100% auto;
    flex: 1;
    border:2px solid red;


}
button{
    background-color: #A68B6A;
    width: 75%;
    border-radius: 15%;
}
@media (min-width: 1000px ) {
    .vigneron {
        display: flex;
        justify-content: space-between;
    }

    .cru {
        display: flex;
        justify-content: end;
        flex-direction: row;
    }
}
