html{
    height: 100%;
}

body {
    display:flex;
    flex-direction: column;
    margin: 0;
    padding:0;
    background-image: url("image/ardoise.png");
    height: 100%;

}

/* Police personalise*/
@font-face {
    font-family:'avenir';
    src: url("police/Avenir_Next_Condensed.ttc");
}
@font-face {
    font-family: 'daneehand_demoregular';
    src: url('police/daneehand_demo-webfont.woff2') format('woff2'),
    url('police/daneehand_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothamextra_light';
    src: url('police/gotham-extralight_700137626-webfont.woff2') format('woff2'),
    url('police/gotham-extralight_700137626-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'handwritingmedium';
    src: url('police/handwriting-webfont.woff2') format('woff2'),
    url('police/handwriting-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'myriad_proregular';
    src: url('police/myriadpro-regular_2066245031-webfont.woff2') format('woff2'),
    url('police/myriadpro-regular_2066245031-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.login {
    display:flex;
    justify-content: center;
    font-family: avenir, sans-serif;
    white-space: pre-line;
    flex-direction: column;
}

.principal{
    display:flex;
    justify-content: center;
    background-color: white;
    flex:1;
    border-color: #B0413E;
}
.ardoise{
    display:flex;
    flex-direction: column;
    background: url("./image/ardoise.png") no-repeat;
    background-size:100% auto;
    flex: 1;
    border:2px solid red;


}
button{
    background-color: #A68B6A;
    width: 75%;
    border-radius: 15%;
}

/* Page pour une carte indivduel*/
.avenir-text{
    font-family: 'avenir', serif;
    letter-spacing: 0.2em;
}

.myriad-text{
    font-family: 'myriad_proregular', serif;

}


#show-carte{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    height: 100%;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;

}
.handWriting-text{
    font-family: 'handwritingmedium', serif;
    font-size: 2rem;
}


#show-carte > #carteInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;

}

#show-carte > #carteInfo >img{
    flex-basis: 10% ;
}
#show-carte > #carteInfo > aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 3;
    flex-basis: 60% ;

}
#carte-complmt{
    display: flex;

}

#show-carte-body{
    color: white;
    height: 100%;
}

#show-carte-footer{
    width: 100%;
    height: 5rem;
    background-color: #314015;
}

@media screen and (min-width: 1024px) {
    #show-carte {
        width: 50%;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    }
    #show-carte-body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    #show-carte > #carteInfo >img {

        width: 50%;

    }
    #show-carte-footer {
        height: 3rem;
    }
    #show-carte{
        padding: 1rem 0 0 0;

    }

}

#show-vigneron-body{
    color: white;
    height: 100%;
}

#show-vigneron {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    height: 100%;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
}

#show-vigneron > #vigneronInfos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}

#show-vigneron > #vigneronInfos > aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 3;
    flex-basis: 60% ;

}

#cruInfos{
    display: flex;
}

#show-vigneron > #cruInfos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vw;
}
