{% extends 'base.html.twig' %}

{% block body %}
    {{ cru.libelle }}
    {{ cru.horaire }}
    {{ cru.infos }}
    Liste des vignerons pour ce cru :
    {% for vigneron in cru.vigneronsCru %}
        <li>
            {{ vigneron }}
        </li>
    {% endfor %}
{% endblock %}

{% block title %}

{% endblock %}

