{% extends 'base.html.twig' %}

{% block body %}
    <p class ="cru_libelle">{{ cru.libelle }}</p>
    <p class ="cru_horaire">{{ cru.horaire }}</p>
    <p class ="cru_infos">{{ cru.infos }}</p>
    Liste des vignerons pour ce cru :
    {% for vigneron in cru.vigneronsCru %}
        <li class="cru_vigneron">
            {{ vigneron }}
        </li>
    {% endfor %}
{% endblock %}

{% block title %}

{% endblock %}

