{% extends 'base.html.twig' %}

{% block title %}
    Liste des cartes
{% endblock %}

{% block body %}
    <h1>Liste des cartes</h1>
    <ul>
        {% for carte in liste %}
            <li class="carte">
                <a href=" {{ path('app_carte_show', {'id': carte.id}) }}"><img src="/public/uploads/img/{{carte.contenuImage}}"></a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

