{% extends 'base.html.twig' %}

{% block title %}
    Liste des cartes
{% endblock %}

{% block body %}
    <h1>Liste des cartes</h1>
    <ul>
        {% for carte in liste %}
            <li class="carte">

            </li>
        {% endfor %}
    </ul>
{% endblock %}

